<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local" value="/home/a/projects/akka.net/bin/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceMapping>
    <packageSource key="Local">
      <package pattern="Akka" />
      <package pattern="Akka.Cluster" />
      <package pattern="Akka.Cluster.Metrics" />
      <package pattern="Akka.Cluster.Sharding" />
      <package pattern="Akka.Cluster.TestKit" />
      <package pattern="Akka.Cluster.Tools" />
      <package pattern="Akka.Coordination" />
      <package pattern="Akka.DependencyInjection" />
      <package pattern="Akka.Discovery" />
      <package pattern="Akka.DistributedData" />
      <package pattern="Akka.DistributedData.LightningDB" />
      <package pattern="Akka.FSharp" />
      <package pattern="Akka.Persistence" />
      <package pattern="Akka.Persistence.FSharp" />
      <package pattern="Akka.Persistence.Query" />
      <package pattern="Akka.Persistence.Query.InMemory" />
      <package pattern="Akka.Persistence.TCK" />
      <package pattern="Akka.Persistence.TestKit" />
      <package pattern="Akka.Persistence.TestKit.Xunit2" />
      <package pattern="Akka.Remote" />
      <package pattern="Akka.Remote.TestKit" />
      <package pattern="Akka.Serialization.Hyperion" />
      <package pattern="Akka.Serialization.TestKit" />
      <package pattern="Akka.Streams" />
      <package pattern="Akka.Streams.TestKit" />
      <package pattern="Akka.TestKit" />
      <package pattern="Akka.TestKit.Xunit" />
      <package pattern="Akka.TestKit.Xunit2" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

</configuration>
